body {
  font-size: 12px;
}

fieldset {
  padding: 0 !important;
}

textarea {
  height: 40px;
}

label {
  font-size: 14px;
  font-weight: 600;
}

.radio-option {
  display: block;
  padding: 7px 9px !important;
}
